@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');
@include font-face(AvenirAlt, /fonts/Avenir-Black, 700, normal, ttf eot woff2 woff);
@include font-face(AvenirAlt, /fonts/Avenir-Book, normal, normal, ttf eot woff2 woff);
@include font-face(AvenirAlt, /fonts/Avenir-BookOblique, normal, italic, ttf eot woff2 woff);
@include font-face(AvenirAlt, /fonts/Avenir-Light, 300, normal, ttf eot woff2 woff);
@include font-face(AvenirAlt, /fonts/Avenir-Heavy, 900, normal, ttf eot woff2 woff);

$nav-header: 60px;
$nav-header-sm: 50px;
$main-menu-width: 240px;
$inner-header-elements-height: 44px;
$default-transition: cubic-bezier(0.190, 1.000, 0.220, 1.000);


.jurua-icon-system {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.z-index-sticky {
	z-index: 10;
	position: relative;
}

html {
	font-size: 16px;

	@include media-breakpoint-down(md) {
  		font-size: 13px;
	}
}

#header {
	will-change: background-color, box-shadow;
	height: 80px;

	.bg {
		position: absolute;
		width: 100%;
		height: 200%;
		top: 0;
		left: 0;
		display: block;
		background-color: #fff;
		z-index: 0;

		@include media-breakpoint-down(md) {
			height: 200%;
		}

		@include media-breakpoint-down(sm) {
			height: 100%;
		}
	}

	@include media-breakpoint-down(md) {
		height: 78px;
		margin-bottom: 78px;
	}

	@include media-breakpoint-down(sm) {
		height: 60px;
		margin-bottom: 0;
		background-color: rgba(#fff, .95);
	}

	.navbar {
		will-change: transform;
		transform: translateY(50%);

		@include media-breakpoint-down(sm) {
			transform: translateY(0%);
		}

		.navbar-brand {

			svg {
				@include media-breakpoint-down(lg) {
					width: 140px;
				}

				@include media-breakpoint-down(sm) {
					width: 130px;
				}
			}
		}
	}

	#navbar {

		@include media-breakpoint-down(md) {
			position: absolute;
		    top: calc(100% + 6px);
		    left: 0px;
		    right: 0px;
		    background: white;
		    overflow: hidden;
			box-shadow: 0px 13px 54px rgba(0, 0, 0, 0.098647);
			border-radius: 14px;

			.navbar-nav {
				padding: 1.25rem 0 2rem;
			}
		}
	}
}

#intro-video {
	overflow: hidden;
	position: relative;

	&:hover {

		.thumbnail {
			transform: translate3d(-50%,-50%,0) scale(1.05);
		}

		.play-video {
			opacity: .9;
			transform: scale(1.2);
		}
	}

	.thumbnail {
		width: 100%;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%,-50%,0);
		transition: all .3s $default-transition; 
	}

	.play-video {
		position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    transition: all .3s $default-transition; 

		svg { 
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%,-50%,0);
		}
	}
}

main {
	&.inner {
		padding-top: 120px;
	}
	#intro {
		position: relative;
		overflow: hidden;
		padding-top: calc(6rem + 80px);
		padding-bottom: 6rem;

		@include media-breakpoint-down(lg) {
		padding-top: calc(5rem + 80px);
			padding-bottom: 5rem;
		}

		@include media-breakpoint-down(md) {
			padding-top: calc(4rem + 60px);
				padding-bottom: 4rem;
		}

		@include media-breakpoint-down(sm) {
			padding-top: calc(3rem + 60px);
				padding-bottom: 3rem;
		}

		@include media-breakpoint-down(xs) {
			padding-top: calc(2rem + 0px);
				padding-bottom: 0rem;
		}

		.container {
			position: relative;
			z-index: 3;
		}

		.bg-top, .bg-down, .bg-down-2 {
			width: 100%;
			display: block;
			background-repeat: no-repeat;
			position: absolute;
			height: 50%;
			background-size: 100%;

			@include media-breakpoint-down(md) {
				background-size: 150%;
			}
		}

		.bg-top {
			z-index: 1;
			top: 0;
			background-position: top;
			background-size: cover;
			background-image: url("../img/bg-topo.png");
		}

		.bg-down {
			z-index: 0;
			bottom: 0;
			background-position: top;
			background-size: cover;
			background: linear-gradient(180deg, #000000 0%, #202667 100%);
		}

		.composition {
			margin-bottom: 3rem;

			@include media-breakpoint-up(md) {
				width: 130%;
			}

			.layer {
				&.mobile {
					position: relative;
					z-index: 3;
					margin: 0 0 13%;
				}
				&.tablet {
					position: relative;
					z-index: 2;
					margin: -35% 0;
				}
				&.desktop {
					position: relative;
					z-index: 1;
				}
			}
		}

	}

	.wrapper-gradiente {
		background: linear-gradient(180deg, #182365 0%, #5C3879 100%);
	}

	#comentarios {

		nav {
			margin-bottom: -1px;
		}

		#comentarios-nav-tab {
			overflow-x: overlay;
			overflow-y: hidden;
			-webkit-overflow-scrolling: touch;

			.nav-link {
				white-space: nowrap;
				flex: 1 1 auto;
				position: relative;
				color: rgba(#fff, .3);

				&.active {
					color: $cyan;

					&:after, &:before {
						bottom: -9px;
						left: 50%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
					}

					&:after {
						border-color: rgba(0, 79, 127, 0);
						border-bottom-color: #332b6d;
						border-width: 14px;
						margin-left: -14px;
					}
					&:before {
						border-color: rgba(243, 198, 122, 0);
						border-bottom-color: $cyan;
						border-width: 15px;
						margin-left: -15px;
					}
				}
			}
		}
	}

	#funcionalidades {
		position: relative;

		.grid-items {
			margin-right: -15px;
			margin-left: -15px;
			display: flex;
			flex-wrap: wrap;
			margin-right: -15px;
			margin-left: -15px;

			.item-wrapper {
				padding: 15px;
				-webkit-box-flex: 0;
			    -ms-flex: 0 0 33.3333333333%;
			    flex: 0 0 33.3333333333%;
			    max-width: 33.3333333333%;

			    @include media-breakpoint-down(md) {
			    	-ms-flex: 0 0 50%;
			    	flex: 0 0 50%;
			    	max-width: 50%;
			    }

			    @include media-breakpoint-down(sm) {
			    	-ms-flex: 0 0 100%;
			    	flex: 0 0 100%;
			    	max-width: 100%;
			    }

			    .item {
			    	background-color: rgba(#000,.4);
			    	padding: 40px;

			    	@include media-breakpoint-down(md) {
			    		padding: 30px;
			    	}

			    	.icon {
			    		img {
			    			width: 48px;

			    			@include media-breakpoint-down(md) {
			    				width: 32px;
			    			}
			    		}
			    	}
			    }
			}
		}
	}

	#light-bottom {
		background: linear-gradient(180deg, #000000 -10%, #202667 100%);
		background-size: cover;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: top;
		position: relative;
		overflow: hidden;

		.bg {
			position: absolute;
			width: 100%;
			height: 150vh;
			top: 0;
			right: 0;
			display: block;
			background-position: bottom center;
			background-size: cover;
			background-image: url("../img/custom-bg.png");
			z-index: 0;

			@include media-breakpoint-down(sm) {
				height: 50%;
			}
		}

		@include media-breakpoint-down(md) {
			background-size: 150%;
		}
	}

	#pacotes {
		background: linear-gradient(180deg, #182365 0%, #5C3879 100%);
		mix-blend-mode: exclusion;

		.packages-grid {
			.icon {
				margin-right: 1rem;
				width: 70px;

				img {
					width: 100%;
				}
			}
		}
	}
}

.slick-dots li button:before {
    color: #fff !important;
    font-size: 10px !important;
}

.slick-dots {
    bottom: -60px !important;
}